albucore==0.0.23
albumentations==2.0.5
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.9.0
astor==0.8.1
auto-py-to-exe==2.46.0
beautifulsoup4==4.13.3
bottle==0.13.2
bottle-websocket==0.2.9
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
colorama==0.4.6
Cython==3.0.12
decorator==5.2.1
Eel==0.18.1
fire==0.7.0
fonttools==4.56.0
future==1.0.0
gevent==24.11.1
gevent-websocket==0.10.1
greenlet==3.2.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
imageio==2.37.0
lazy_loader==0.4
lmdb==1.6.2
lxml==5.3.1
MouseInfo==0.1.3
networkx==3.4.2
numpy==2.2.4
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
opt-einsum==3.3.0
packaging==24.2
paddleocr==2.10.0
paddlepaddle==2.6.2
pefile==2023.2.7
pillow==11.1.0
playsound==1.2.2
protobuf==3.20.2
PyAutoGUI==0.9.54
pyclipper==1.3.0.post6
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
PyGetWindow==0.0.9
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.2
PyMsgBox==1.0.9
pyparsing==3.2.3
pyperclip==1.9.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
PyRect==0.2.0
PyScreeze==1.0.1
python-docx==1.1.2
pytweening==1.2.0
pywin32-ctypes==0.2.3
PyYAML==6.0.2
RapidFuzz==3.12.2
requests==2.32.3
scikit-image==0.25.2
scipy==1.15.2
setuptools==78.1.0
shapely==2.0.7
simsimd==6.2.1
sniffio==1.3.1
soupsieve==2.6
stringtools==3.0.1
stringzilla==3.12.3
termcolor==2.5.0
tifffile==2025.3.13
tqdm==4.67.1
typing_extensions==4.12.2
urllib3==2.3.0
zope.event==5.0
zope.interface==7.2
